.row.mx-auto
  = link_to 'Ask question', new_question_path
  - if @questions.any?
    %h1 Questions List
    - @questions.each do |question|
      .question
        %h2.index-question-title
          = link_to question.title, question_path(question)
        = question.object_author
        -if current_user && current_user.author_of?(question)
          .delete-question-link
            = link_to 'Delete', question_path(question.id), method: :delete
        %br
    = paginate @questions
  -else
    %h4 No questions yet! You should be first!
