.question-errors
= render 'question', question: @question

= form_for [@question, @question.answers.build], remote: true do |f|
  = f.label :title, 'Your answer'
  .answer-errors
  = f.text_area :title
  = f.fields_for :attachments, Attachment.new, remote: true do |a|
    = a.label :file
    = a.file_field :file
  %br
  = f.submit 'Create'
%br

= @question.asked_at
%br
= @question.object_author
