%h5
  = answer.title
  - if answer.attachments&.any?
    %p Attachments:
    %ul
      - answer.attachments.each do |a|
        %li
          = link_to a.file.file.filename, a.file.url
- if current_user
  -if current_user.author_of?(answer) || current_user.author_of?(answer.question)
    = link_to 'Delete', question_answer_url(answer.question.id, answer.id), method: :delete, remote: true
    %br
  -if current_user.author_of?(answer)
    = link_to 'Edit', '', class: 'edit-answer-link', data: { answer_id: answer.id }
    = form_for answer, as: :answer, url: question_answer_path(question.id, answer.id), method: :patch, remote: true, html: { id: "edit-answer-#{answer.id}" } do |f|
      = f.label :title, 'Answer'
      = f.text_area :title
      = f.submit 'Save'
  - if current_user&.author_of?(answer.question) && !answer.best?
    = link_to 'Best', make_best_question_answer_path(answer.question, answer), method: :patch, remote: true, class: 'best-answer-btn btn btn-success', id: "best-answer-link-#{answer.id}"
