<!DOCTYPE html>
<html>
  <head>
    <title>Qna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 class="text-center">
    <%= link_to "Home", root_path %>
    <% if current_user.present? %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "header-button" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </h1>
    <%= yield %>
  <h1 class="text-center">
    Footer
  </h1>
  </body>
</html>
